body{
	font-family: "Montserrat";
}
a{
	transition: all 300ms linear;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

.scroll_to_top {
    position: fixed;
    text-align: center;
    right: 40px;
    bottom: 40px;
    background: #1b998b;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.scroll_to_top.visible {
    z-index: 500;
    opacity: 1;
    visibility: visible;
}
.white_text{
	color: #fff;
}
.navbar-default{
	background-color: transparent;
	border: none;
	padding-top: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: transparent;
    border-top: 3px solid #1b998b;
}
.header-shrink{
	background: #000;
	opacity: 0.9;
	padding-bottom: 5px;
    padding-top: 5px;
}
.navbar-default .navbar-brand{
	font-size: 24px;
	font-weight: bold;
	color: #1b998b;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	margin-right: 5px;
}
.jumbotron{
	background: #000;
	background-image: url(../img/banner.png);
	background-position:center center;
	background-size: cover;
	min-height: 400px;
	margin-bottom: 0;
}
.description{
	letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 25px !important;
}

.description> span{
	color: #1b998b;
}
.jumbotron h1{
	font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 4px;
    margin-bottom: 30px;
    margin-top: 0;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 60px;
}
.jumbotron .icon{
	margin-bottom: 20px;
}
.icon a{
	width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
}
.icon a:hover{
	border: 2px solid transparent;
}
.icon a.social-icon:nth-child(1):hover{
	background: #3B5999 !important;
    color: #ffffff !important;
}
.icon a.social-icon:nth-child(2):hover{
	background: #00BAFF !important;
    color: #ffffff !important;
}
.icon a.social-icon:nth-child(3):hover{
	background: #EF3F3D !important;
    color: #ffffff !important;
}
.icon a.social-icon:nth-child(4):hover{
	background: #7197B0 !important;
    color: #ffffff !important;
}
.icon a.social-icon:nth-child(5):hover{
	background: #000 !important;
    color: #ffffff !important;
}
.jumbotron a.social-icon{
	margin: 8px;
    display: inline-block;
}
.fa{
	color: #fff;
}
.btn{
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-primary{
	background-color: #1b998b;
	border: 1px solid #1b998b;
	border-radius: 0;
}
.btn-primary:hover{
	background: transparent;
	border: 1px solid #1b998b;
	color: #1b998b;
}
.btn-default{
	background: transparent;
	border: 1px solid #1b998b;
	color: #1b998b;
	border-radius: 0;
}
.btn-default:hover{
	background: #1b998b;
	border: 1px solid #1b998b;
	color: #fff;
}
.btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background: transparent;
	border: 1px solid #1b998b;
	color: #1b998b;
}
#about{
	background-color: #DDDAD6;
}
#about h2, #resume h2, #portfolio h2, #contact h2{
	font-weight: bold;
	margin-bottom: 10px;
	color: #393536;
}
#about .info{
	width: 90%;
	margin: 20px auto;
	padding: 30px;
	background: #fff;
	color: #333;
	opacity: 0.9;
	min-height:400px;
	height: 420px;
}
#about h6, #resume h6, #portfolio h6, #contact h6{
	color: #00b796;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.info h4{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 40px;
	color: #ABABAB;
}
.info p{
	letter-spacing: 1px;
	margin-bottom: 30px;
	color: #333;
}
.info .bar{
	width: 90%;
	height: 20px;
	padding: 3px;
	background: #ccc;
	margin-bottom: 20px;
	position: relative;
}
.info .bar-inner1{
	background: #EC3F8C;
	width: 80%;
	height: 14px;
}
.info .bar-inner2{
	background: #6EC1C2;
	width: 85%;
	height: 14px;
}
.info .bar-inner3{
	background: #1FD26A;
	width: 70%;
	height: 14px;
}
.info .bar-inner4{
	background: #FBCB15;
	width: 80%;
	height: 14px;
}
.info .bar-inner5{
	background: #72441E;
	width: 65%;
	height: 14px;
}
.info:first-child span{
	font-size: 20px;
	letter-spacing: 1px;
	color: #333;
}
.info .bar span{
	font-weight: bold;
	font-size: 11px;
	left: 7px;
    position: absolute;
}
#resume{
	background: #ccc;
	min-height: 400px;
}
.text-resume{
}
.text-resume h3{
	padding: 20px;
	text-align: left;
	background: #00b796;
	color: #fff;
	font-weight: bold;
}
#resume .resumeContent{
	text-align: left;
	padding: 30px;
	background: #f2f2f2;
	min-height: 200px;
	margin-bottom: 20px;
}
.row.resumeContent{
	margin-left: 0;
	margin-right: 0;
}
#resume .resumeContent .resumeIcon a{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #00b796;
	padding: 10px;
	display: inline-block;
}
#resume .resumeContent a i{
	color: #fff;
}
#portfolio{
	min-height: 500px;
}
#portfolio .row .col-md-4{
	padding-left: 0;
	padding-right: 0;
}
 #portfolio h2{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.project{
	margin: 0 auto;
	height: 200px;	 
}
.project .overlay{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
}
.project:hover .overlay{
	opacity: 0.7;
	transform: translateY(-200px);
}
.project img{
	width: 100%;
	height: 100%;
}
#contact{
	background-image: url(../img/work.jpg);
	background-position:center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 400px;
}
#contact .col-md-6:last-child{
	background: rgba(0,0,0,0.8);
	min-height: 400px;
}
#contact h2{
	color: #fff;
	text-transform: uppercase;
}
#contact p{
	font-size: 20px;
}
.contact-details{
	margin-top: 30px;
}
#footer{
	min-height: 70px;
	width: 100%;
	background: #000;
}
@media only screen and (min-width: 320px) and (max-width: 479px){
	.navbar-default .navbar-collapse{
		background: #000;
		border-color: #000;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		border: none;
		background: #00b796;
	}
	.jumbotron{
		padding: 0;
	}
	.jumbotron h1{
		font-size: 38px;
		margin-top: 80px;
	}
	.jumbotron a.social-icon{
		margin: 8px 2px;
	}
	.btn-lg, .btn-group-lg > .btn{
		margin: 5px 0;
    	padding: 10px;
	}
}
